<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>121962417975-t2t5tpg6vda66jel71erin26u658p0vu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121962417975-t2t5tpg6vda66jel71erin26u658p0vu</string>
	<key>API_KEY</key>
	<string>AIzaSyBNYa3Udwds2drhCapbsmkIYFvENHf_tNw</string>
	<key>GCM_SENDER_ID</key>
	<string>121962417975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MyID.FindHouseForMe</string>
	<key>PROJECT_ID</key>
	<string>find-house-for-me</string>
	<key>STORAGE_BUCKET</key>
	<string>find-house-for-me.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121962417975:ios:e932fce0fc177437</string>
	<key>DATABASE_URL</key>
	<string>https://find-house-for-me.firebaseio.com</string>
</dict>
</plist>